/* Default styles for the DRIVE 3.0 Components */
html,
body {
  background: #f1f1f1;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}