<template>
  <main id="MainPage">
    <section class="container">
      <search-mask viewmode="full" />
    </section>
  </main>
</template>

<script>
import { SearchMask } from '@mastervida/drive'

export default {
  components: {
    SearchMask
  }
}
</script>
