<template>
  <main id="ResultPage">
    <section class="container">
      <div>I'm the results page (\{{ numOfResults }})</div>
      <div v-if="cars">
        <button @click="showCars">Show Cars</button>
      </div>
      <div v-if="showTheCars" v-for="car in cars" :key="car">\{{ car }}</div>
    </section>
  </main>
</template>

<script>
  import { ResultMixins } from '@mastervida/drive'

  export default {
    name: 'ResultPage',
    mixins: [
      ResultMixins
    ]
  }
</script>